

@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');


.mainFrameBorder 
{
    -fx-border-color: #8a8c8e;
    -fx-border-width: 2px;
}

.textFont
{
    -fx-font-family: 'Inknut Antiqua', serif;
    -fx-font-size: 35px;
}